.yas-compiled-snippets.el
/.cask
/color-themes
/elpa
/eshell/history
/eshell/lastdir
/eshell/profile
/games
/packages
/projectile-bookmarks.eld
/projectile.cache
/server
/tramp
/url
/var
eww-bookmarks
local*
recentf
