.yas-compiled-snippets.el
/.cask
/color-themes
/custom.el
/eln-cache
/elpa
/eshell/history
/eshell/lastdir
/eshell/profile
/games
/packages
/server
/tramp
/transient
/url
/var
eww-bookmarks
local*
recentf
